<div class="login">
  <div class="login-container">
    <div class="login-image">
      <div class="overlay"></div>
      <img src="https://www.shutterstock.com/image-vector/man-key-near-computer-account-260nw-1499141258.jpg" alt="">
    </div>
    <div class="login-form-container">
      <div class="form-wrapper">
        <div class="box">
          <h2>Login</h2>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="email" required>
              <div class="error-message" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                Email is required
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="password" required>
              <div class="error-message" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                Password is required
              </div>
            </div>
            <div class="button-container">
              <button class="btn" type="submit" [disabled]="form.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
