.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

.login-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  width: 100%;
}

.login-image {
  position: relative;
  width: 50%;
  overflow: hidden;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.login-form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    width: 75%;
  }

  .box {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      text-align: center;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 5px;
      }

      .error-message {
        color: red;
        font-size: 0.875rem;
        display: none;
      }

      input:invalid + .error-message {
        display: block;
      }
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .btn {
        background-color: #ff5722;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #e64a19;
        }
      }
    }
  }
}

// استعلامات الوسائط للتجاوب مع الشاشات الصغيرة
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-image,
  .login-form-container {
    width: 100%;
  }
}
